body {
    background-color: #999; /* Cambia el valor al color de gris que prefieras */
    margin: 0; /* Elimina los márgenes por defecto del body */
    padding: 0; /* Elimina el relleno por defecto del body */
  }

.edulelogo {
content:'';
position: absolute;
right: 200px;

border: 37px solid #fff;
border-right-color:transparent;

width: 100px;
height: 100px;

border-radius: 50%;

}
.edulelogo::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -44px; 
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 70px solid transparent; 
    border-bottom: 70px solid transparent;
    border-left: 70px solid #6bcde3; 
    
}

.edulelogo::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 30px;
    background: #fff; 

    clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 7% 100%, 30% 50%);
}

